<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CrocoLetter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ng-template ngFor let-lang [ngForOf]="languages">
            <span *ngIf="lang.code === localeId">{{lang.label}} </span>
          </ng-template>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-template ngFor let-lang [ngForOf]="languages">
            <span *ngIf="lang.code !== localeId">
              <a class="dropdown-item" href="/{{lang.code}}/">{{lang.label}}</a> </span>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</nav>
