<div class="container">
    <div *ngIf="running">
      <h3 i18n="life counter|text display before life counter">Life: {{ life }}</h3>
    </div>
     <div [ngSwitch]="message">
    <ng-template [ngSwitchCase]= "0"><h2 i18n="start|invitation to start the game">Click Start to begin!</h2></ng-template>
    <ng-template [ngSwitchCase]= "1"><h2 i18n="instruction|what to do">Find this letter:</h2></ng-template>
    <ng-template [ngSwitchCase]= "2"><h2 i18n="sucess continue|continue game after sucess">Good job, now find this new letter:</h2></ng-template>
    <ng-template [ngSwitchCase]= "3"> <h2 i18n="error continue|continue game afer error">Wrong letter, try again!</h2> </ng-template>
    <ng-template [ngSwitchCase]= "4"> <h2 i18n="win|game is over with win">Awesome, you did it!</h2> </ng-template>
    <ng-template [ngSwitchCase]= "5"> <h2 i18n="lost|game is over with lost">Game Over!</h2> </ng-template>
    <ng-template ngSwitchDefault> </ng-template>
    <div *ngIf="running">
      <h1>{{ goalletter }}</h1>
    </div>

    <div *ngIf="!running">
      <button  (click)="newGame()" mat-raised-button  color="primary" i18n="start button|button starting the game">Start</button>
    </div>
</div>
